
:root{
    --light: #e0ecff; 
    --dark: #365A67;
    --mid: #ADD8E6; 
}

body{
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav {
    background-color: #333;
    height: 100px; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 1.6vw;
    transition: all 0.25s ease-in;
    max-width: 60vw;
    flex: 2; 
    margin-bottom: 50px; 
    width: 100%; 
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--mid);
    color: black;
  }

  .name{
      background-color: var(--mid);
      color: var(--dark); 
      font-size: 4vw;
      margin: 10px; 
      padding-bottom: 0px;
      max-width: 40vw; 
  }

  h3{
    font-size: 3vw;
  }

/* Jumbotron */
.jumbotron-image {
    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/29/blue-2721464_1280.jpg");
    background-position: center;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .jumbotron-text {
    text-align: right;
    background-color: var(--mid);
    align-items: flex-end;
    /*position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;*/
  }
  
  .vl {
    border-left: 4px solid var(--dark);
    /*height: 150px;*/
  }

  /*Trying to style the gallery*/
  #work {
    flex-wrap: wrap;
}

img[href*="sarahgilbreath.com"]{
    border: 5px solid black; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 60vw;
  }
  
.gallery:first-child{
    flex-basis: 100%; 
}

.galleryItem{
   /* border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;*/
}

  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  /*oh god please work*/
  .sectionParent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*this was the thing that screwed it up*/
    width: 100%;
    padding: 15px; 
  }

  
  .sectionChildLeft{
      flex: 1;
      margin: 10px; 
      max-width: 20vw; 
      text-align: right; 
      padding: 10px;
      margin-top: 10px;
      color: var(--dark);
  }

  .sectionChildRight{
      flex: 2; 
      margin: 10px; 
      max-width: 60vw;
  }

  #contactMe{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
