
:root{
    --light: #e0ecff; 
    --dark: #365A67;
    --mid: #ADD8E6; 
}

body{
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*setting up media queries*/
/* Tablets */
@media screen and (max-width: 992px) {
  header, body {
    justify-content: center;
    text-align: center;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  header, body {
    justify-content: center;
    text-align: center;
  }
}

/* Small smartphones*/
@media screen and (max-width: 576px) {
  header, body {
    justify-content: center;
    text-align: center;
  }
}
/*End media queries*/

/*Styling navbar*/
.topnav {
    background-color: #333;
    height: 100px; 
    display: flex; 

  }

  nav{
    display: flex; 
    text-align: right; 
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 1.6vw;
    transition: all 0.25s ease-in;
    flex: 2; 
    margin-bottom: 50px; 
    justify-content: flex-end;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--mid);
    color: black;
  }

  .name{
      background-color: var(--mid);
      color: var(--dark); 
      font-size: 4vw;
      margin: 10px; 
      padding-bottom: 0px;
      max-width: 40vw; 
      display: inline;
  }

  h3{
    font-size: 3vw;
  }

/* Jumbotron */
.jumbotron-image {
    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/29/blue-2721464_1280.jpg");
    background-position: center;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .jumbotron-text {
    text-align: right;
    background-color: var(--mid);
    color: var(--dark); 
    align-items: flex-end;
  }
  
  .vl {
    border-left: 4px solid var(--dark);
  }

  p{
    color: var(--dark); 
  }


img[href*="sarahgilbreath.com"]{
    border: 5px solid black; 
}

/*Styling the gallery section*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  }
  
.gallery:first-child{
    flex-basis: 100%; 
}

.galleryItem{
  display: flex;
  flex-basis: 50%; 
}

  div.gallery:hover {
    border: 1px solid #777;
  }


  /*oh god please work*/
  .sectionParent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*this was the thing that screwed it up*/
    width: 100%;
    padding: 15px; 
  }

  
  .sectionChildLeft{
      flex: 1;
      margin: 10px; 
      max-width: 20vw; 
      text-align: right; 
      padding: 10px;
      margin-top: 10px;
      color: var(--dark);
  }

  .sectionChildRight{
      flex: 2; 
      margin: 10px; 
      max-width: 60vw;
  }

  .flex-item {
    border: 5px solid var(--dark);
    background-color: var(--mid);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }


.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: var(--light);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
  background-color: var(--light); 
}



/* portfolio project images */
.weather {
  background-image: url("./weather.png");
}

.ukraine {
  background-image: url("./ukraine.png");
}

.scheduler {
  background-image: url("./scheduler.png");
}

.quiz {
  background-image: url("./quiz.png");
}

.garp {
  background-image: url("./garp.png");
}

/* end portfolio project images */

/*styling contact section*/ 

  #contactMe{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 2vw;
  }
  
  #contactMe a{
    color: var(--dark);
  }